upstream app {
    server $APP_NAME:5000;
}

server {
    listen 80;
    server_name $SERVER_NAME;

    root /www;
    location ~*/[a-b] {
        proxy_pass http://app;
        proxy_set_header Host $Host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}